<div class='container-fluid'>
    <div class="row">
        <div class ="col-4">
            <label for="restaurantName">Name*</label>
            <input type="text" class="form-control" id="restaurantName" >
        </div>
        <div class ="col-4">
                <label for="exampleInputEmail1">Email address*</label>
                <input type="email" class="form-control" id="exampleInputEmail1" >
        </div>
        <div class ="col-4">
            <label for="contactNumber1">contact Number*</label>
            <input type="number" class="form-control" id="contactNumber1" >
        </div>
        

    </div>
    
    <hr/>

      <div class='row'>
          <div class="col-6">
            
                <label for="contactName">Vehicle Type*</label>
                <input type="text" class="form-control" id="contactName" >
            
          </div>
          <div class="col-6">
            <label for="gender">Gender*</label>

            <div class="radio">
                <label><input type="radio" name="optradio" checked>Male</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio">Female</label>
              </div>
         
        </div>
      </div>
  
    <hr/>

    <div class="row">
        <div class="col-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Current Status</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">Active</option>
                  <option value="2">Off</option>
                   
                </select>
              </div> 

              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" >
        </div>
       

    </div>
    


</div>