<div class='container-fluid'>
    <div class="row">
        <div class ="col-4">
            <label>Item Name*</label>
            <input required
            [(ngModel)]="item.itemName" type="text" class="form-control" id="itemName" >
        </div>
    </div>
    <hr />
    <div class="row">
        <div class ="col-4">
                <label>Item cost</label>
                <input required
                [(ngModel)]="item.cost" type="number" class="form-control" id="cost" >
        </div>
    </div>
    <hr />

    <div class="row">

        <div class ="col-4">
            <label for="contactNumber1">Item Quantity(grams)*</label>
            <input required
            [(ngModel)]="item.quantity" type="number" class="form-control" id="quantity" >
        </div>
        

    </div>
    <hr />
    <div class="row">

        <div class ="col-4">
            <label for="contactNumber1">Discount</label>
            <input required
            [(ngModel)]="item.discount" type="number" class="form-control" id="discount">
        </div>
        

    </div>
    <hr />
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
      
         
            <mat-form-field style="width:inherit">
                <mat-label>Category</mat-label>
                <mat-select   [(ngModel)]="item.category"  [formControl]="categories" multiple>
                  <mat-option *ngFor="let categories of categoryList" [value]="categories">{{categories}}</mat-option>
                </mat-select>
              </mat-form-field>
      
        </div>
      </div>    
      <hr />
      <div class="row" style="margin-top:10px">
          <div class="col-md-12">
        
           
              <mat-form-field style="width:inherit">
                  <mat-label>subcategory</mat-label>
                  <mat-select  [(ngModel)]="item.subcategory"  [formControl]="subcategories" multiple>
                    <mat-option *ngFor="let subcategories of subcategoryList" [value]="subcategories">{{subcategories}}</mat-option>
                  </mat-select>
                </mat-form-field>
        
          </div>
        </div>   
     
 
    <div class="row">
        <div class="col-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Status</label>
                </div>
                <select [(ngModel)]="item.status" class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="available">Available</option>
                  <option value="not available">Not Available</option>
                   
                </select>
              </div> 



    </div>
    </div>
    <button (click)="updateData()" class="btn btn-success">save</button>


</div>

