<div style="display: flex;
justify-content: space-between; margin-bottom: 20px;">
<h2>
    Menu List
</h2>


<button routerLink="/addRestaurant" style="height: 40px;" type="button" class="btn btn-primary">Add item</button>
</div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Item name</th>
        <th scope="col">Category</th>
        <th scope="col">SubCategory</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>

       
        

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><i type="button" data-toggle="collapse" data-target="#collapseme" class="fa fa-plus-circle" aria-hidden="true"></i>1</th>
        <td>Apple</td>
        <td>fruits and vegetables</td>
        
        <td>fruits</td>
        <td>available</td>
        <td >

            <button style="margin-right: 10px;" type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button>
            <button type="button" class="btn btn-primary"><i class="fa fa-trash"></i></button>
    
          </td>

      </tr>  
    </tbody>
  </table>