<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <label for="name">Name*</label>
      <input
        type="text"
        required
        [(ngModel)]="delivery_man.name"
        name="name"
        class="form-control"
        id="name"
      />
    </div>

    <div class="col-4">
      <label for="contactNumber1">contact Number*</label>
      <input
        type="number"
        name="contact"
        class="form-control"
        required
        [(ngModel)]="delivery_man.contact"
        id="contactNumber1"
      />
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01"
            >Current Status</label
          >
        </div>
        <select
          [(ngModel)]="delivery_man.status"
          name="status"
          class="custom-select"
          id="inputGroupSelect01"
        >
          <option selected>Choose...</option>
          <option value="available">available</option>
          <option value="busy">busy</option>
        </select>
      </div>
    </div>
  </div>

  <button (click)="saveData()" class="btn btn-success">Submit</button>
</div>
