<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>BoxAll</h3>
      </div>

      <ul class="list-unstyled components">
          <p>Super Admin</p>
          <li>
            <a href="#">Dashboard</a>
        </li>
          <li>
            <a routerLink="/dispatcher">Dispatcher</a>
        </li>

          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Restaurant List</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="#">All Restaurant</a>
                  </li>
                 
              </ul>
          </li>
          <li>
              <a href="#delSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Delivery People</a>
              <ul class="collapse list-unstyled" id="delSubmenu">
                  <li>
                      <a href="#">All Delivery People</a>
                  </li>
                  
              </ul>
          </li>
          <li>
            <a href="#">User</a>
          </li>
          <li>
            <a href="#ordSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Order Delivery List</a>
            <ul class="collapse list-unstyled" id="ordSubmenu">
                <li>
                    <a href="#">Pending Deliveries</a>
                </li>
                <li>
                    <a href="#">Approved Deliveries</a>
                </li>
                <li>
                    <a href="#">Process Deliveries</a>
                </li>
                <li>
                  <a href="#">Ongoing Deliveries</a>
                </li>
                <li>
                  <a href="#">Completed Deliveries</a>
                </li>
                <li>
                  <a href="#">Cancelled Deliveries</a>
                </li>
            </ul>
          </li>
          <li>
            <a href="#revSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reviews</a>
            <ul class="collapse list-unstyled" id="revSubmenu">
                <li>
                    <a href="#">Restaurant Reviews</a>
                </li>
                <li>
                    <a href="#">Driver Reviews</a>
                </li>
                
            </ul>
          </li>
          <li>
            <a href="#repSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Earnings Report</a>
            <ul class="collapse list-unstyled" id="repSubmenu">
                <li>
                    <a href="#">Admin Reports</a>
                </li>
                <li>
                    <a href="#">Restaurant Reports</a>
                </li>
                <li>
                  <a href="#">Driver Reports</a>
              </li>
                
            </ul>
          </li>
          <li>
              <a href="#">Promocode</a>
          </li>
         
      </ul>

      
  </nav>

  <!-- Page Content  -->
  <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  <span>Toggle Sidebar</span>
              </button>
              <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button>

              
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="#">logout</a>
                      </li>
                      
                     
                  </ul>
              
          </div>
      </nav>


      <router-outlet></router-outlet>


  </div>
</div>