<div class="row">
  <div class="col">
    <div class="row mb-5">
      <div class="col">
          <div class="card">
              <div class="card-header" style="display:flex; justify-content: space-between;">
                 <h3 class="font-weight-bold"><i class="fa fa-user mr-1" aria-hidden="true"></i>User Details</h3>
                  <button routerLink="/shopping" class="btn btn-primary btn-sm">Add to cart</button>

              </div>
              <div class="card-body">
                  <b>Name:</b><h1>{{item.name}}</h1>
                  <b>Email:</b>
                  <h3>{{item.email}}</h3>
                  <b>contact:</b>
  
                  <h3>{{item.contact}}</h3>
                  <b>Address:</b>
  
                  <h3>
                    {{item.address}}
                  </h3>
  
              </div>
          </div>
      </div>
  </div>
  
  <div class="row mb-5">
    <div class="col">
        <div class="card">
            <div class="card-header" style="display:flex; justify-content: space-between;">
               <h3 class="font-weight-bold"><i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i>Wallet</h3>
               <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                Add
              </button>
            </div>
            <div class="card-body">
              <h1>Amount:{{amount | currency: 'INR'}}</h1>
            </div>
        </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Wallet</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class ="col-4">
            <label for="contactNumber1">Add money to wallet</label>
            <input required [(ngModel)]="extra"  type="number" min='0' class="form-control">
        </div>
        </div>
        <div class="modal-footer">
           
          <button type="button" (click)="addWallet()" data-dismiss="modal" class="btn btn-primary">submit</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header">
                 <h3 class="font-weight-bold"><i class="fa fa-cart-arrow-down mr-1" aria-hidden="true"></i>All Orders</h3>
              </div>
              <div class="card-body">
  
  
                  <div class="card mb-3">
                      <div class="row no-gutters">
                        <div class="col-md-2">
                          <img src="" class="card-img" alt="">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h3 class="card-title">McDonalds</h3>
                            <div class='row'>
                                <div class="col-4">
                                  <p>Status:Pending</p>
                                </div>
                                <div class="col-4">
                                  <p>Order no:</p>
                                  
                              </div>
                              <div class="col-4">
                                  <p><i class="fa fa-clock-o" aria-hidden="true"></i>minutes ago</p>
                                  
                              </div>
                            </div>
                            <p style="color:green">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </p>
                            <p style="color:red">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </p>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="card-body ml-auto">
                              
                              <button style="width:100px;margin-bottom: 10px;"type="button" class="btn btn-warning">details</button>
          
                          </div>
                        </div>
                        
                      </div>
                    </div>
  
  
  
              </div>
          </div>
  
      </div>
  </div>
  

  </div>
  <div class="col-md-3">

    <app-cart></app-cart>
  </div>
</div>
