<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="approved-tab" data-toggle="tab" href="#approved" role="tab" aria-controls="approved" aria-selected="false">Approved orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="process-tab" data-toggle="tab" href="#process" role="tab" aria-controls="process" aria-selected="false">Processing orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="Complete-tab" data-toggle="tab" href="#Complete" role="tab" aria-controls="Complete" aria-selected="false">Completed orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="Cancelled-tab" data-toggle="tab" href="#Cancelled" role="tab" aria-controls="Cancelled" aria-selected="false">Cancelled orders</a>
      </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade  show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">


        <div class="container">
        <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-2">
                <img src="" class="card-img" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">McDonalds</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body ml-auto">
                    <button style="width:100px;margin-bottom: 10px;" type="button" class="btn btn-success">Approve</button>
                    <button style="width:100px;margin-bottom: 10px;"type="button" class="btn btn-warning">details</button>
                    <button style="width:100px" type="button" class="btn btn-danger">cancel</button>

                </div>
              </div>
            </div>
          </div>
          </div>




    </div>
    <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">

    </div>

    <div class="tab-pane fade" id="process" role="tabpanel" aria-labelledby="process-tab">

    </div>
    <div class="tab-pane fade" id="Complete" role="tabpanel" aria-labelledby="Complete-tab">

    </div>
    <div class="tab-pane fade" id="Cancelled" role="tabpanel" aria-labelledby="Cancelled-tab">

    </div>


  </div>