<div class="card">
    <div class="card-body">
      <h1>Order Details</h1>
      <br/>
      <div class="row">
        <div class="col-3">
            <h3>Order Id.</h3>
        </div>
        <div class="col-9">
            sdfsdfsd
        </div>

      </div>
<!-- ----------------------------------------------------------------------- -->
<div class="row">
    <div class="col-3">
        <h3>Shop Name</h3>
    </div>
    <div class="col-9">
        sdfsdfsdfsd
    </div>

  </div>
<!-- --------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-3">
        <h3>Customer Name</h3>
    </div>
    <div class="col-9">
        sdfsdfsdf
    </div>

  </div>
<!-- --------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-3">
        <h3>PickUp Address</h3>
    </div>
    <div class="col-9">
        dsfsdfsdfsdf
    </div>

  </div>
<!-- --------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-3">
        <h3>Delivery Address</h3>
    </div>
    <div class="col-9">
        
    </div>

  </div>
<!-- --------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-3">
        <h3>Phone Number</h3>
    </div>
    <div class="col-9">
        
    </div>

  </div>
<!-- --------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-3">
        <h3>Order Date</h3>
    </div>
    <div class="col-9">
        
    </div>

  </div>
<!-- --------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-3">
        <h3>Total Amount</h3>
    </div>
    <div class="col-9">
        
    </div>

  </div>
<!-- --------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-3">
        <h3>Payment Type</h3>
    </div>
    <div class="col-9">
        
    </div>

  </div>
<!-- --------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-3">
        <h3>Payment Status</h3>
    </div>
    <div class="col-9">
        
    </div>

  </div>
<!-- --------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-3">
        <h3>Order Status</h3>
    </div>
    <div class="col-9">
        <h3>Time</h3>
        
    </div>

  </div>

  <div class="row">
    <div class="col-3">
        <p>ORDERED</p>
    </div>
    <div class="col-9">
        <P></P>
        
    </div>

  </div>
  <div class="row">
    <div class="col-3">
        <p>APPROVED</p>
    </div>
    <div class="col-9">
        <P></P>
        
    </div>

  </div>
  <div class="row">
    <div class="col-3">
        <p>PROCESSING</p>
    </div>
    <div class="col-9">
        <P></P>
        
    </div>

  </div>
  <div class="row">
    <div class="col-3">
        <p>ONGOING</p>
    </div>
    <div class="col-9">
        <P></P>
        
    </div>

  </div>
  <div class="row">
    <div class="col-3">
        <p>COMPLETED</p>
    </div>
    <div class="col-9">
        <P></P>
        
    </div>

  </div>
<!-- --------------------------------------------------------------------------------- -->






    </div>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Product Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total cost</th>
      </tr>

    </thead>


    <tbody>
      <tr>
        <th scope="row">1</th>
        <td> </td>
        <td>maggi</td>
        
        <td>30</td>
        <td>2</td>

        <td>60</td>
      </tr>  


      <tr>
        <th scope="row"></th>
        <td> </td>
        <td> </td>
        
        <td></td>
        <td><h3>Item cost</h3></td>

        <td><h3>60</h3></td>
      </tr> 

      <tr>
        <th scope="row"></th>
        <td> </td>
        <td> </td>
        
        <td></td>
        <td><h3>Discount</h3></td>

        <td>0</td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td> </td>
        <td> </td>
        
        <td></td>
        <td><h3>Tax</h3></td>

        <td>0</td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td> </td>
        <td> </td>
        
        <td></td>
        <td><h3>Delivery Charges</h3></td>

        <td>0</td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td> </td>
        <td> </td>
        
        <td></td>
        <td><h3>Packaging Charges</h3></td>

        <td>0</td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td> </td>
        <td> </td>
        
        <td></td>
        <td><h3>Total Pay</h3></td>

        <td>60</td>
      </tr> 

    </tbody>
  </table>
  <h2 style="text-align: right;">Total Pay: 60</h2>

