<div class="card">
  <div class="card-body">
    <h1>Order Details</h1>
    <br />
    <div class="row">
      <div class="col-3">
        <h3>Order Id.</h3>
      </div>
      <div class="col-9">
        {{ order.id }}
      </div>
    </div>
    <!-- ----------------------------------------------------------------------- -->
    <!-- <div class="row">
      <div class="col-3">
        <h3>Shop Name</h3>
      </div>
      <div class="col-9">sdfsdfsdfsd</div>
    </div> -->
    <!-- --------------------------------------------------------------------------------- -->
    <div class="row">
      <div class="col-3">
        <h3>Customer id</h3>
      </div>
      <div class="col-9">{{ order.user_id }}</div>
    </div>
    <!-- --------------------------------------------------------------------------------- -->

    <!-- <div class="row">
      <div class="col-3">
        <h3>PickUp Address</h3>
      </div>
      <div class="col-9">dsfsdfsdfsdf</div>
    </div> -->
    <!-- --------------------------------------------------------------------------------- -->

    <div class="row">
      <div class="col-3">
        <h3>Delivery Address</h3>
      </div>
      <div class="col-9">{{ order.del_address }}</div>
    </div>
    <!-- --------------------------------------------------------------------------------- -->
    <div class="row">
      <div class="col-3">
        <h3>Phone Number</h3>
      </div>
      <div class="col-9">{{ order.phone }}</div>
    </div>
    <!-- --------------------------------------------------------------------------------- -->
    <div class="row">
      <div class="col-3">
        <h3>Order Date</h3>
      </div>
      <div class="col-9">{{ order.created | date: "medium" }}</div>
    </div>
    <!-- --------------------------------------------------------------------------------- -->

    <div class="row">
      <div class="col-3">
        <h3>Total Amount</h3>
      </div>
      <div class="col-9">{{ order.total }}</div>
    </div>
    <!-- --------------------------------------------------------------------------------- -->

    <div class="row">
      <div class="col-3">
        <h3>Payment Type</h3>
      </div>
      <div class="col-9"></div>
    </div>
    <!-- --------------------------------------------------------------------------------- -->
    <div class="row">
      <div class="col-3">
        <h3>Payment Status</h3>
      </div>
      <div class="col-9"></div>
    </div>
    <!-- --------------------------------------------------------------------------------- -->
    <div class="row">
      <div class="col-3">
        <h3>Order Status</h3>
      </div>
      <div class="col-9">
        <h3>{{ order.status }}</h3>
      </div>
    </div>

    <!-- --------------------------------------------------------------------------------- -->
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Shop Name</th>

      <th scope="col">Product Name</th>
      <th scope="col">Price</th>

      <th scope="col">Quantity</th>
      <th scope="col">WPriceT</th>
      <th scope="col">OPriceT</th>

      <th scope="col">Total cost</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of orderitems">
      <th scope="row">1</th>
      <td>
        <div *ngFor="let i of shop">
          <div *ngIf="i.unique_id == data.shop_id">
            {{ i.title }}
          </div>
        </div>
      </td>
      <td>{{ data.item_id }}</td>
      <td></td>

      <td>{{ data.qty }}</td>
      <td>{{ data.wpriceT }}</td>

      <td>{{ data.opriceT }}</td>
      <td>{{ data.opriceT }}</td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><h3>Item cost</h3></td>

      <td>
        <h3>{{ itemTotal }}</h3>
      </td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><h3>Discount</h3></td>

      <td>0</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><h3>Tax</h3></td>

      <td>0</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><h3>Delivery Charges</h3></td>

      <td>{{ deliveryCharge }}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><h3>Packaging Charges</h3></td>

      <td>0</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><h3>Total Pay</h3></td>

      <td>60</td>
    </tr>
  </tbody>
</table>
<h2 style="text-align: right">Total Pay: {{ totalPay }}</h2>
