<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3 class="font-weight-bold">
            <i class="fa fa-cart-arrow-down mr-1" aria-hidden="true"></i>Order
            Statistics
          </h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div style="text-align: center" class="card" id="received">
                <h3 style="position: absolute; top: 23px">
                  Received
                  <h1>{{ orderlen }}</h1>
                </h3>
              </div>
            </div>
            <div class="col-6">
              <div style="text-align: center" class="card" id="processing">
                <h3 style="position: absolute; top: 23px">
                  Processing
                  <h1>{{ pro }}</h1>
                </h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div style="text-align: center" class="card" id="delivered">
                <h3 style="position: absolute; top: 23px">
                  Delivered

                  <h1>{{ comp }}</h1>
                </h3>
              </div>
            </div>
            <div class="col-6">
              <div style="text-align: center" class="card" id="cancelled">
                <h3 style="position: absolute; top: 23px">
                  Cancelled

                  <h1>{{ can }}</h1>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card">
          <div class="card-header">
            <h3 class="font-weight-bold">
              <i class="fa fa-line-chart mr-1" aria-hidden="true"></i> Site
              Statistics
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div style="text-align: center" class="card" id="received">
                  <h3 style="position: absolute; top: 23px">
                    Restaurants
                    <h1>{{ reslen }}</h1>
                  </h3>
                </div>
              </div>
              <div class="col-6">
                <div style="text-align: center" class="card" id="processing">
                  <h3 style="position: absolute; top: 23px">
                    Delivery People
                    <h1>{{ dellen }}</h1>
                  </h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div style="text-align: center" class="card" id="delivered">
                  <h3 style="position: absolute; top: 23px">
                    Users
                    <h1>{{ userlen }}</h1>
                  </h3>
                </div>
              </div>
              <div class="col-6">
                <div class="card" id="cancelled">
                  <h3 style="position: absolute; top: 23px">Earnings</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="font-weight-bold">
            <i class="fa fa-cart-arrow-down mr-1" aria-hidden="true"></i>Latest
            Orders
          </h3>
        </div>
        <div class="card-body">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-2">
                <img src="" class="card-img" alt="" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">McDonalds</h3>
                  <div class="row">
                    <div class="col-4">
                      <p>Status:Pending</p>
                    </div>
                    <div class="col-4">
                      <p>Order no:</p>
                    </div>
                    <div class="col-4">
                      <p>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>minutes
                        ago
                      </p>
                    </div>
                  </div>
                  <p style="color: green">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </p>
                  <p style="color: red">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
