<div class="row wrapper">
  <div class="col-2">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3 style="font-weight: 600; font-size: 30px">Boxall admin</h3>
        <!-- <h3 style="font-weight: 600; font-size: 25px">admin</h3> -->
      </div>

      <ul class="list-unstyled components">
        <p>Super Admin</p>
        <li>
          <a routerLink="/dashboard"
            ><i class="fa fa-tachometer mr-1" aria-hidden="true"></i
            >Dashboard</a
          >
        </li>
        <li>
          <a routerLink="/dispatcher"
            ><i class="fa fa-eye mr-1" aria-hidden="true"></i> Dispatcher</a
          >
        </li>

        <li class="active">
          <a
            href="#resSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
            ><i class="fa fa-shopping-bag mr-1" aria-hidden="true"></i> Shop
            List</a
          >
          <ul class="collapse list-unstyled" id="resSubmenu">
            <li>
              <a routerLink="/restaurants">All shops</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#delSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
            ><i class="fa fa-truck mr-1" aria-hidden="true"></i> Delivery
            People</a
          >
          <ul class="collapse list-unstyled" id="delSubmenu">
            <li>
              <a routerLink="/delivery-people">All Delivery People</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/users"
            ><i class="fa fa-user mr-1" aria-hidden="true"></i> User</a
          >
        </li>
        <li>
          <a routerLink="/orders-deliveries-list"
            ><i class="fa fa-list mr-1" aria-hidden="true"></i> Order Delivery
            List</a
          >
        </li>
        <li>
          <a
            href="#revSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
            ><i class="fa fa-comments mr-1" aria-hidden="true"></i> Reviews</a
          >
          <ul class="collapse list-unstyled" id="revSubmenu">
            <li>
              <a href="#">Restaurant Reviews</a>
            </li>
            <li>
              <a href="#">Driver Reviews</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#repSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
            ><i class="fa fa-money mr-1" aria-hidden="true"></i> Earnings
            Report</a
          >
          <ul class="collapse list-unstyled" id="repSubmenu">
            <li>
              <a routerLink="/admin-report">Admin Reports</a>
            </li>
            <li>
              <a routerLink="/shop-report">Restaurant Reports</a>
            </li>
            <li>
              <a href="#">Driver Reports</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"
            ><i class="fa fa-gift mr-1" aria-hidden="true"></i> Promocode</a
          >
        </li>
        <li>
          <a routerLink="/categories"
            ><i class="fa fa-book mr-1" aria-hidden="true"></i> Categories</a
          >
        </li>
        <li>
          <a (click)="logout()"
            ><i class="fa fa-book mr-1" aria-hidden="true"></i> Logout</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <!-- Sidebar  -->
  <!-- Page Content  -->
  <!-- <div class="col-10">
    <router-outlet></router-outlet>
  </div> -->
</div>
